@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
/* as found here: https://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972 */
@media screen and (max-width: 650px) {


  #navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }

  #navbar > header {
    justify-content: center;
  }

  /*toggle styling */

  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }

  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    position: fixed;
    top: 23px;
    left: 8px;
    height: 22px;
    width: 22px;
  }

  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    height: 3px;
    width: 100%;
    background-color: #3d3220;
  }

  .horizontal {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 3px;
  }

  .diagonal.part-1 {
    transition: all 0.3s;
    position: relative;
    float: left;
  }

  .diagonal.part-2 {
    transition: all 0.3s;
    position: relative;
    float: left;
    margin-top: 3px;
  }

  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    opacity: 0;
  }

  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    transform: rotate(135deg);
    margin-top: 8px;
  }

  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin-top: -9px;
  }

  /*toggle styling*/

  input[type="checkbox"]:checked ~ #nav-links { transform: translateY(0px) }

  #nav-links {
    height: 130px;
    width: 100%;
    margin: 0;
    overflow: auto;
    transform: translateY(-130px);
    background-color: orange;
  }

  #nav-links li {
    min-height: 40px;
    font-size: 24px;
    border: 5px solid red;
    text-align: center;
  }

  #main-doc {
    margin-top: -130px;
  }
}

@media screen and (min-width: 650px) {

  #navbar {
    box-sizing: border-box;
    position: fixed;
    width: 25vw;
    height: 100vh;
    overflow: auto;
    border-right: 3px solid grey;
  }

  #navbar > header {
    background-color: hotpink;
    position: relative;
    /*display: flex;*/
    /*justify-content: center;*/
    font-size: 12px;
    padding-left: 24px;
  }

  input[type=checkbox] {
    display: none;
  }

  #nav-links{
  }

  #nav-links li {
    border-top: 1px solid grey;
    min-height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #main-doc {
    margin-left: 27vw;
    padding-top: 2vw;
  }

}

body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #fff;
  color: #000;
  width: 100%;
}

#navbar {
  font-family: sans-serif;
}

#navbar > header {
  position: relative;
  height: 68px;
  width: 100%;
  font-size: 28px;
  display: flex;
  align-items: center;
  background-color: hotpink;
  z-index: 98;
}

#nav-links {
  margin: 0 auto;
  padding-inline-start: 0px;
}

#nav-links li {
  list-style: none;
  box-sizing: border-box;
  width: 100%;
}

#nav-links a {
  text-decoration: none;
  color: black;
}

section > header {
  font-family: sans-serif;
  font-size: 28px;
}

#Control_Structures > header {
  color: red;
}

code {
  background-color: #DCDCDC;
}
